<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Train with Taku Fitness!</title>       
    </head>
    <body>
        <h1>Hi,  {{user}}!</h1>
        <p> So you've forgotten your password - happens to the best of us! 😅</p>
        <p> I've got you: Here's a link to reset your password: {{reset_link}}</p>
        <p> <strong>IMPORTANT: This link will expire after 20 minutes</strong></p>

        
    </body>
</html>